


          <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
              <a class="p-2 text-dark" href="{% url 'home-page:home-page' %}">Home</a>
             
                  <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    
                  {% if user.is_authenticated %}

                  <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage {{user.username}}'s profile
                      </a>
                    
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/accounts/profile/">{{user.username}} Profile</a>
                        <a class="dropdown-item" href="/accounts/profile/edit">Update Profile</a>
                        <a class="dropdown-item" href="/accounts/change-password">Change Password</a>
                      </div>
                    </div>
                <a class="p-2 text-dark" href="/projects/add">Add Project</a>
              
              <a class="btn btn-outline-primary" href="/accounts/logout">Logout</a>
              {% else %}
              <a class="p-2 text-dark" href="/accounts/register">Register</a>
              <a class="p-2 text-dark" href="/accounts/login">Login</a>
              {% endif %}
            </div>
            